<!DOCTYPE html>
<html lang="en">

<head>

    <meta content="application/javascript" charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"
        integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./styling/app_styling.css">
</head>

<title>Chap Application</title>
</head>

<body>

    <page content-type="text/html">


        <div class="nav" id="nav2">

            <nav>
                <p class="brand">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M10.5 10a2.5 2.5 0 1 1-5.001-.001A2.5 2.5 0 0 1 10.5 10zM16 4v12c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2zm-3.5 6a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zm6.715-4.914L17 6.562v7l2.215 1.477a.505.505 0 0 0 .785-.42V5.506a.505.505 0 0 0-.785-.42z" />
                    </svg>
                </p>
                <p id="whatsapp">Chat_UP</p>
            </nav>

            <div id="profile">
                <img src="{{image}}" alt="">
                <p id="logo_name"></p>
            </div>
        </div>
        <div class="chatbox" name="message_Box" id="chatbox1">
            <!--   <video id="video"></video> 
            <div class="chatB" id="chat-left">{{image}}</div> 
            <div class="chatB" id="chat-right">vikash: hlo vishal</div>
         -->
            <div id="imagPreview"></div>


            <!---  <i class="fa fa-phone fa-rotate-90"></i> 
            <i class="fas fa-share-alt">&nbsp;Share&nbsp;</i> --->
        </div>

        <form id="webform">
            <div id="textAndsend">
                <div id="inputAndIcons">
                    <div id="paperclip">
                        <label for="inputTag">
                            <input type="file" id="inputTag" accept="image/*" />
                            <i class="fa  fa-camera"></i>
                        </label>
                    </div>
                    <!--   <video id="snap" width="0px" height="0px"></video> -->

                    <!--  <i class="fa  fa-2x fa-paperclip"></i>  -->

                    <input type="text" name="typer" id="textbox" placeholder="Type your message.........">
                    <i class="fa fa-microphone" aria-hidden="true"></i>

                    <!--Add emoji -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js" integrity="sha512-aGWPnmdBhJ0leVHhQaRASgb0InV/Z2BWsscdj1Vwt29Oic91wECPixuXsWESpFfCcYPLfOlBZzN2nqQdMxlGTQ==
               " crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#textbox").emojioneArea();
                        });
                    </script>
                    <!--   <i class="fa fa-diamond" aria-hidden="true"></i>-->
                    <!--    <i class="fa fa-microphone" aria-hidden="true"></i> -->

                </div>
                <button type="submit" id="button" value="submit"> <i class="fa fa-paper-plane" aria-hidden="true"
                        id="mic"></i>
                </button>
            </div>
        </form>

        </div>
</body>
<script>
    // taking picture function from the device
    /* function tekepicture(){
       navigator.mediaDevices.getUserMedia({
   
          video:true,
          audio:true
       }).then((stream)=>{
   
               let video = document.querySelector('video');
                video.srcObject=stream;
                return video.play();
   
       })
   
   // picture taking function ended  */
    var fileInput = document.getElementById("inputTag");
    //var path = document.getElementById("imagPreview");
    fileInput.addEventListener("change", function () {
        changeImage(this);
    });
    function changeImage(input) {
        var reader;
        if (input.files[0] && input.files) {
            reader = new FileReader();
            reader.addEventListener("load", function () {
                // path.style.display = "block";
                //  path.innerHTML = '<img src="' + this.result + '" />';
                document.getElementById('textbox').value = this.result;
            })
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>




<script src="/socket.io/socket.io.js"></script>
<script defer>
    let socket = io();
    let newtime;
    var sentmsg = document.getElementById('textbox');
    let chatbox = document.getElementById('chatbox1');
    const append = (message, position) => {

        let messageElment = document.createElement('p');
        messageElment.id = position;
        messageElment.innerText = message;
        chatbox.appendChild(messageElment);
    };
    const append2 = (message, position) => {

        let messageElment = document.createElement('img');
        messageElment.id = position;
        messageElment.src = message;
        chatbox.appendChild(messageElment);
    };
    const append3 = (message, position) => {


        let messageElment = document.createElement('img');
        messageElment.id = position;
        messageElment.src = message;
        chatbox.appendChild(messageElment);
    };
    // let useName = prompt('Enter your name pls');
     const usrTemp ="{{usr}}";
     alert(usrTemp)
    socket.emit('new_user-joined',{name:"",usrTemp:usrTemp});
   
    socket.on('user_name', (data3) => {
        
        document.getElementById('logo_name').innerText = usrTemp;
      temp2name=data3.user;
        newtime = data3.time;
    });
    socket.on('user-joined1', (data) => {
        append(`${data}  join the group`, "message");
    });
    socket.on('user-left', (data) => {
        append(`${data}  left the group`, "message");
    });
    var form = document.getElementById('webform');
    setInterval(() => {
        let date = new Date();
        newtime = date.toLocaleTimeString();
    }, 1000);
    form.addEventListener('submit', (evnt) => {
        evnt.preventDefault();
        var msg = sentmsg.value;

        if (msg.length > 550) {

            append2(`${msg}`, "chat-right2");
            document.getElementById('textbox').value = '';
        }
        // it's a string
        else {

            append(`You : ${msg} (${newtime})`, "chat-right");
            document.getElementById('textbox').innerText = '';
        }

        scrollToButtom()
        socket.emit('deliToServer', msg)
    })
    socket.on('receive', (data) => {
        let length1 = Object.values(data);
        //    alert(length1[0].length);


        if (length1[0].length > 400) {

            append3(`${data.messege}`, 'chat-left2');
        }
        else {

            append(`${data.gobalvariable}: ${data.messege}  (${data.time})`, 'chat-left');
        }
        scrollToButtom()
    })
    function scrollToButtom() {
        chatbox.scrollTop = chatbox.scrollHeight;
    }
</script>


</body>

</html>