<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Verifivation</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" />
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css" />


  <style>
    h2 {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
    }

    h3 {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: Georgia, Times, 'Times New Roman', serif;
    }


    .brand {
      display: flex;
      justify-content: center;
      margin-top: 36px;
      align-items: center;
      width: 100%;
      height: 30%;
      background-color: rgb(189, 236, 189);

    }

    .brand svg {
      height: 27px;
      margin-right: 10px;
    }

    .brand svg path {
      color: coral;
      fill: var(--pure);

    }
  </style>

</head>

<body>


  <p class="brand">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path
        d="M10.5 10a2.5 2.5 0 1 1-5.001-.001A2.5 2.5 0 0 1 10.5 10zM16 4v12c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2zm-3.5 6a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zm6.715-4.914L17 6.562v7l2.215 1.477a.505.505 0 0 0 .785-.42V5.506a.505.505 0 0 0-.785-.42z" />
      <strong>CHAT_UP</strong>
    </svg>
  </p>

  <hr>
  <h2>A Verification link has sent to your entered Email {{email}}.....👨‍💻</h2><br>
  <h3></i>Please Check and Verify your Email.......<i class="fa-solid fa-badge-check"></i>☑️</h3>



</body>

</html>