<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Live_Chat_App </title>
   <link rel="stylesheet" href="./styling/index_styling.css">
</head>

<body class="mobile">
    <nav>
        <div class="container nav-wrapper">
            <div class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M10.5 10a2.5 2.5 0 1 1-5.001-.001A2.5 2.5 0 0 1 10.5 10zM16 4v12c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2zm-3.5 6a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zm6.715-4.914L17 6.562v7l2.215 1.477a.505.505 0 0 0 .785-.42V5.506a.505.505 0 0 0-.785-.42z" />
                </svg>
                <span><strong>CHAT_UP</strong></span>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-list">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li><a href="./registration"  id="signup">signup</a></li>
                <!--
                <li>

                    <a href="#">Services</a>
                    <ul class="dropdown-list">
                        <li><a href="#">SEO optimisation</a></li>
                        <li><a href="#">Digital marketing</a></li>
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Software development</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Content writing</a></li>
                    </ul>
                </li>
                -->
              
                <li><a href="#">Contact</a></li>
                <li>
                    <button class="btn"><a href="./login">Login</a></button>
                </li>
            </ul>
        </div>
    </nav>
    
     <video id="video" autoplay muted loop>
        <source src="./styling/WhatsApp Video 2023-02-25 at 21.16.36.mp4" type="video/mp4">
      </video>
       <p>WELCOME TO CHAT_UP</p>
      

      <!-- 
    <div  id="mainbody">
    
     
    </div>
   -->
   
      
    <script>
     
     //dynemically name getting
      var name= "{{tempName}}";
     if(name==""){

     }else{

            
     let msg = document.getElementById('signup');
      msg.innerHTML=name;
      msg.className="name";
      msg.href="#";

      
     }
     
    // console.log();
    

        window.addEventListener("resize", function () {
  addRequiredClass();
});

function addRequiredClass() {
  if (window.innerWidth < 860) {
    document.body.classList.add("mobile");
  } else {
    document.body.classList.remove("mobile");
  }
}

window.onload = addRequiredClass;

let hamburger = document.querySelector(".hamburger");
let mobileNav = document.querySelector(".nav-list");

let bars = document.querySelectorAll(".hamburger span");

let isActive = false;

hamburger.addEventListener("click", function () {
  mobileNav.classList.toggle("open");
  if (!isActive) {
    bars[0].style.transform = "rotate(45deg)";
    bars[1].style.opacity = "0";
    bars[2].style.transform = "rotate(-45deg)";
    isActive = true;
  } else {
    bars[0].style.transform = "rotate(0deg)";
    bars[1].style.opacity = "1";
    bars[2].style.transform = "rotate(0deg)";
    isActive = false;
  }
});

    </script>
</body>

</html>