<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://cdn.sstatic.net/stackoverflow/img/favicon.ico">
  <title> Live_Chat_App </title>
  <link rel="stylesheet" href="./styling/index_styling.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<body class="mobile">
  <nav>
    <div class="container nav-wrapper">
      <div class="brand">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path
            d="M10.5 10a2.5 2.5 0 1 1-5.001-.001A2.5 2.5 0 0 1 10.5 10zM16 4v12c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2zm-3.5 6a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zm6.715-4.914L17 6.562v7l2.215 1.477a.505.505 0 0 0 .785-.42V5.506a.505.505 0 0 0-.785-.42z" />
        </svg>
        <span><strong>CHAT_UP</strong></span>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-list">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li><a href="./registration">signup</a></li>
        
                <li>

                    <a href="#">Services</a>
                    <ul class="dropdown-list">
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Software development</a></li>
                        <li><a href="#">Content writing</a></li>
                    </ul>
                </li>
              

        <li><a href="#">Contact</a></li>
        <li>
          <button class="btn"><a href="./login"  id="signup">Login</a></button>
        </li>
      </ul>
    </div>
  </nav>
 <!--
  <video id="video" autoplay muted loop>
    <source src="./styling/WhatsApp Video 2023-02-25 at 21.16.36.mp4" type="video/mp4">
  </video>
  -->

  <div id="select_chatMode">
    <h4>You Have To Select  Any Chat mode for Chat</h4>
    <select id="selection">
      <option>Select Your Choice</option>
      <option>General Chat</option>
      <option>Private Chat</option>
    </select>
    <button type="button" class="btn" onclick="comfirm();">Confirm</button><br>
  </div>


  <script>
       //dynemically name getting  username in the place of Signup
      var name = "{{tempName}}";
      var profilePic="{{profilePic}}"
    if (name == "") {}
     else {
      let msg = document.getElementById('signup');
      msg.innerHTML = name;
      msg.className = "name";
      msg.href = "#";
    }
    
        let select_chatMode = document.getElementById('select_chatMode');

        function getRoomName(){
           let room = document.getElementById('room').value;
         document.getElementById('select_chatMode').innerHTML += `<button class="btn"><a href="./room?roomName=${room}&usr=${name}&profilePic=${profilePic}">Join The ${room} Room</a></button>`;
        }
         
       function comfirm(){
        if(name=="") {
           
           alert(" Ooops You didn't Login 😅😅, Please First Login ")
        }
        else{

                  let chatType = document.getElementById('selection').value;
     // alert(chatType);
       if(chatType=='Private Chat'){
    
    document.getElementById('select_chatMode').innerHTML += `<input type="number" id="room" placeholder="Enter Your Room's code">`;
     
     document.getElementById('select_chatMode').innerHTML += `<input type="button" class="btn" onclick="getRoomName();" value="Creat or Join Room"><br>`;
       // Generating room name and redirecting to room 
         
    }
    else if(chatType=='Select Your Choice'){
       
              chatType.value="";
             alert(" Please First Select One Of The Given Chat Mode 😅😅");
    }

    else{
           
         select_chatMode.innerHTML += ` <button class="btn"><a href="./login?chat_type=${chatType}&usr=${name}&profilePic3=${profilePic}">Go to Public Chat Room</a></button>`
    }
       }
       
           
        }
       
   
   
   
     window.addEventListener("resize", function () {
      addRequiredClass();
    });

    function addRequiredClass() {
      if (window.innerWidth < 860) {
        document.body.classList.add("mobile");
      } else {
        document.body.classList.remove("mobile");
      }
    }

    window.onload = addRequiredClass;

    let hamburger = document.querySelector(".hamburger");
    let mobileNav = document.querySelector(".nav-list");

    let bars = document.querySelectorAll(".hamburger span");

    let isActive = false;

    hamburger.addEventListener("click", function () {
      mobileNav.classList.toggle("open");
      if (!isActive) {
        bars[0].style.transform = "rotate(45deg)";
        bars[1].style.opacity = "0";
        bars[2].style.transform = "rotate(-45deg)";
        isActive = true;
      } else {
        bars[0].style.transform = "rotate(0deg)";
        bars[1].style.opacity = "1";
        bars[2].style.transform = "rotate(0deg)";
        isActive = false;
      }
    });

  </script>
</body>

</html>