<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Boxicons Css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="script.js" defer></script>
     <link rel="stylesheet" href="./styling/recovery_styling.css">
    </head>

<body  id="body">

     
    <section class="container forms">
        

        <div class="form login">
           <h4>{{messege}}</h4>
            <div class="form-content">
                <header>Password recover</header>
                <form method="post">
                    <div class="field input-field">
                        <input type="email" name="ln_email" placeholder=" Enter Your Email" class="input" id="check" required>
                    </div>
                    <p id="temp"></p>
                    <div class="field button-field">
                     
                        
                        <button type="submit">continue</button>
                    </div>
                </form>

            </div>


        </div>
        
       
       

</body>

</html>