<!DOCTYPE html>
<html lang="eng">

<head>


  <meta content="application/javascript" charset="utf-8">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    function show() {

      document.getElementById('form-set').classList.toggle("active");
      let nav = document.getElementById('nav');
      nav.remove();
      
    }
  </script>
  <link rel="stylesheet" href="./styling/registration_styling.css">
</head>

<body>
   <nav id="nav">
    
      <button class="button" onclick="show();">Click Here To Get Started</button>
   
  </nav>
  <div class="split right">
   
 <div id="form-set">

        <!--create a login forrm -->

        <h2>Creat Your Account</h2>


        <h4 id="h4">Get Start With Your Free Account</h4>


        <div id="icon">


          <div id="t" class="ft">


            <a
              href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?response_type=code&access_type=online&client_id=968592878121-0qopkn9oh404nrbd1ent7f314cpkmt43.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%2Fphpfull_course%2Fphp_all_code.php%2FgoogleLoginApi%2Findex.php&state&scope=email%20profile&approval_prompt=auto&flowName=GeneralOAuthFlow">


              <i id="tiw" class="fab fa-google-plus-g"></i>&nbsp<span>Login with


                Gmail</span></a>


          </div>


        </div>


        <br>


        <div id="form1">


          <form action="uploads/image/" method="POST" enctype="multipart/form-data">


            <p> <i id="i3" class="fas fa-user-tie" id="i2"></i>
            <input id="input" type="text" name="name"
                placeholder="ENTER  USERNAME" required> </p>


            <p> <i id="i3" class="fas fa-envelope" id="i2"></i>
            <input id="input" type="text" name="e" placeholder="ENTER  Email"
                required></p>


            <p><i id="i3" class="fas fa-lock" id="i2"></i>


              <input id="input" id="input" type="password" name="p" placeholder="ENTER  Password" required>


            </p>


            <p><i id="i3" class="fas fa-lock" id="i2"></i>



              <input id="input" type="password" name="cp" placeholder="Re-type Password" required>


            </p>


            <p>
              <label for="inputTag">
                            <input type="file" name="file" id="inputTag" accept="image/*" required />
                            <i class="fa  fa-camera" id="i3"></i>&nbspChoose Your Profile Photo
                        </label>

            </p>


            <div id="remeber"> <input type="checkbox" name="checkbox">


              <h6>&nbsp &nbsp Remember password</h6>


            </div><br>


            <button type="submit" value="submit" name="submit" id="button"> Register</button>


        </div id="i2">

        </form>


        <h5>have you account? <a href="./login">sing in</a></h5>


      </div>




    </div>
  </div>
  </div>
</body>

</html>